git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/workspaces
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/styles
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/datastores
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/coveragestores
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/coverages
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/layers
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/layergroups
git+https://github.com/ausseabed/product-catalogue.git#subdirectory=py-rest-client
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/featuretypes
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/owsservices
gis-metadata-parser
requests
msal>=0.6.1,<2
python-dotenv
python-json-logger
boto3