geoserver-restconfig
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/workspaces
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/styles
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/datastores
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/coveragestores
git+https://github.com/ausseabed/geoserver-rest-client.git#subdirectory=modules/coverages
